{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'jquery/dist/jquery-ui.min.css' %}" />
<script src="{% static 'jquery/dist/jquery.js' %}"></script>
<script src="{% static 'jquery/dist/jquery-ui.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
<script src="{% static 'js/bootstrap.js' %}"></script>




<h1>Cassiopeia Demo</h1>


<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="Submit" name="submit" value="Submit"/>
</form>

{% endblock %}