<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


{% load static %}
{% load i18n %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Privacy Manager</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
	<link href="{% static "/css/defaulttest.css"%}" rel="stylesheet">
	<link href="{% static "/css/fonts.css"%}" rel="stylesheet">
	<link rel="shortcut icon" href="{%  static '/images/favicon.ico' %}">
</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">Privacy Manager</a></h1>
			</div>
			<div id="menu">
				
			</div>
		</div>
	</div>
	<div id="featured">&nbsp;</div>
	
	<!--<div id="wrapper">
		<div id="page" class="container">
			<div id="content">
				<div class="title">
					<div> <a href="int/registerUser" class="button">Register User</a></div>
					<br>
					<div> <a href="int/listUsers" class="button">List Users</a></div>
					<br>
					<div> <a href="int/addPolicy" class="button">Add Policy</a></div>
					<br>
					<div> <a href="int/listPolices" class="button">List Policies</a></div>
					<br>
					<div> <a href="int/addDevice" class="button">Add Device</a></div>
					<br>
					<div> <a href="int/addEntity" class="button">Add Entity</a></div>
					<br>
					<div> <a href="int/listDevices" class="button">List Devices</a></div>
					<br>
					<div> <a href="int/listEntities" class="button">List Entities</a></div>
					<br>
					<div> <a href="int/registerStay" class="button">Register Stay</a></div>
					<br>
					<div> <a href="int/listReceipts" class="button">List Receipts</a></div>
				</div>
			</div>
		</div>
	</div>-->



	<div id="wrapper">
		<div id="page" class="container">
			
				<div class="title">
					<div style="width: 100%;">
						<div style="width: 50%; height: 150px; float: left;"> 
							<div> <a href="int/registerUser" class="button">Register User</a></div>
							<div> <a href="int/addPolicy" class="button">Add Policy</a></div> 
							<div> <a href="int/addDevice" class="button">Add Device</a></div>
							<div> <a href="int/addEntity" class="button">Add Entity</a></div>
							<div> <a href="int/registerStay" class="button">Register Stay</a></div>
		
						</div>
						<div style="margin-left: 50%; height: 300px;"> 
							<div> <a href="int/listUsers" class="button">List Users</a></div>
							<div> <a href="int/listPolices" class="button">List Policies</a></div>
							<div> <a href="int/listDevices" class="button">List Devices</a></div>
							<div> <a href="int/listEntities" class="button">List Entities</a></div>
							<div> <a href="int/listReceipts" class="button">List Unsigned Receipts</a></div>
							<div> <a href="int/listSReceipts" class="button">List Signed Receipts</a></div>
							<div> <a href="int/notifications" class="button">Notifications</a></div>
						</div>
					</div>
				</div>
			
		</div>
	</div>
	
	</body>

</html>


